<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script>
            const GAME_ID = "<%= gameID %>";
            const USER_ID = "<%=userID%>";
        </script>
        <script src="js/lib/socket.io.js" defer></script>
        <script src="js/lib/TweenMax.min.js" defer ></script>
        <script type="module" src="js/game.js" defer></script>
        <title>Game</title>
        <style>
            .status{
                margin: auto;
                text-align: center;
                align-items: flex-start;
                max-width: 300px;
            }
            .status .player{
                background-color:rgba(129, 206, 113, 0.555);
                width: 100%;
                color: white;
                flex-direction: column;
            }
        </style>

	</head>
    <body>

        <div class="status" id="status">Awaiting players</div>        

	</body>
</html>