<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="css/style.css">
		<title>Меню</title>
		<style>
		.searcher{
			position: relative;
			max-width: 30vw;
			background: rgba(4, 4, 4, 0.61);
			border-radius: 40px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-height: 40vh;
			height: 30vh;
			display: none;
		}
		.searcher .inputfield.inputfield .btn{
			width: 100%;
			padding: 8px 10px;
			font-size: 15px; 
			border: 0px;
			text-align: center;
			background:  #fec107;
			color: #000;
			cursor: pointer;
			border-radius: 3px;
			outline: none;
		   }
		.searcher .page_func_name{
			text-align: center;
			color: #fff;
		}
		.searcher .form .inputfield .btn:focus,
		.searcher .form .inputfield .btn:hover{
			background: #ffffff;
			color: black;
		 }
		.accblock{
			position: absolute;
			top:0px;
			right: 0px;
			border: 2px solid black;
			color: white;
		}
		.searcher .form{
			align-items: center;
			flex-direction: column;
		}
        </style>
        <script>const USER_ID = "<%= userID %>"</script>
	</head>
	<body>
    <div class="wrapper" id = "wrapper" >
		<div class="title">
			<h1>War Of Imperium</h1>
		</div>
		<div class="page_func_name">
			<h1>Меню</h1>	
		</div>
		<div class="form">
			<div class="inputfield">
				<input type="submit" value="Поиск игры" id = "SearhButton" class="btn" >
			</div>
			<div class="inputfield">
				<input type="submit" value="Колода" id = "colod" class="btn">
			</div>
			<div class="inputfield">
				<input type="submit" value="Наборы" id = "packs" class="btn">
			</div>
			<div class="inputfield">
				<input type="submit" value="Выйти из системы" id = "exit" class="btn">
			</div>		   
		</div>
	</div>
	<div class="searcher" id = "serchPanel">
		<div class="form">
			<div class="page_func_name" id="search_status">
				<h1 id="search_status_text">Поиск игроков...</h1>
			</div>
			<div class="inputfield" id="cancel_field">
				<input type="submit" value="Отмена" id = "cancel" class="btn">
			</div>
			<div class="s3"></div>
		</div>
	</div>
	<div class="accblock" id = "accInfo"></div>
	<script src="js/lib/socket.io.js"></script>
	<script src="js/lib/TweenMax.min.js"></script>
	<script type="module" src="js/home.js"></script>
	</body>
</html>