/* @font-face {
    font-family: 'Fenix';
    font-style: normal;
    font-weight: 400;
    src: local('Fenix'), local('Fenix-Regular'),
         url('../fonts/fenix-v7-latin-regular.woff2') format('woff2'), 
         url('../fonts/fenix-v7-latin-regular.woff') format('woff'); 
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); 
  } */
	/* milonga-regular - latin */
@font-face {
	  font-family: 'Milonga';
	  font-style: normal;
	  font-weight: 400;
	  src: url('../fonts/milonga-v7-latin-regular.eot'); /* IE9 Compat Modes */
	  src: local('Milonga'), local('Milonga-Regular'),
		   url('../fonts/milonga-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/milonga-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/milonga-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
		   url('../fonts/milonga-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		   url('../fonts/milonga-v7-latin-regular.svg#Milonga') format('svg'); /* Legacy iOS */
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Milonga';
}
body{
    background: url("../images/floating-castle-ragnarok-online-anime-games-clouds-scenic-valley\ 1.png") no-repeat;
    background-size: cover;
    padding-top: 1%;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
}
.wrapper{
    max-width: 400px;
    width: 100%;
    background: rgba(4, 4, 4, 0.61);
    border-radius: 40px;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
}
.wrapper .page_func_name,
.wrapper .title{
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
}
.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .inputfield label{
    width: 100px;
    color: #ffffff;
    margin-right: 10px;
   font-size: 14px;
 }
 .wrapper .form .inputfield .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
 }
 .wrapper .form .link{
    width: 100%;
 }
 .wrapper .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    text-align: center;
    background:  #fec107;
    color: #000;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
.wrapper .form .inputfield .btn:hover,
.wrapper .form .inputfield .btn:focus{
    background: #ffffff;
    color: black;
}
.wrapper .form .inputfield .input:focus{
    border: 1px solid #fec107;
 }
 .page_func_name{
    align-items: center;
 }
.err{
    font-size: 24px;
    line-height: 28px;
    visibility: hidden;
    color:#fec107;
    max-width: 431px;
}
@media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
  }

  .s3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    margin-top: 6vh;
    background: #fec107;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-animation: r5 2s 0s ease-out infinite;
    -moz-animation: r5 2s 0s ease-out infinite;
    animation: r5 2s 0s ease-out infinite;
  }

  
  @-webkit-keyframes r5 {
    0% {
      box-shadow: 0 0 8px 6px rgb(255, 255, 255), 0 0 0px 0px transparent, 0 0 0px 0px rgb(235, 194, 15);
    }
    10% {
      box-shadow: 0 0 8px 6px rgb(213, 231, 44), 0 0 12px 10px transparent, 0 0 12px 14px rgb(235, 194, 15);
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(202, 245, 11, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
    }
  }
  @-moz-keyframes r5 {
    0% {
      box-shadow: 0 0 8px 6px rgb(255, 255, 255), 0 0 0px 0px transparent, 0 0 0px 0px rgb(235, 194, 15);
    }
    10% {
      box-shadow: 0 0 8px 6px rgb(213, 231, 44), 0 0 12px 10px transparent, 0 0 12px 14px rgb(235, 194, 15);
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(202, 245, 11, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
    }
  }
  @keyframes r5 {
    0% {
      transform: scale(0.9,0.9);
      box-shadow: 0 0 8px 6px rgb(255, 255, 255), 0 0 0px 0px transparent, 0 0 0px 0px rgb(235, 194, 15);
    }
    10% {
      transform: scale(0.2,0.2);
      box-shadow: 0 0 8px 6px rgb(213, 231, 44), 0 0 12px 10px transparent, 0 0 12px 14px rgb(235, 194, 15);
    }
    100% {
      transform: scale(1,1);
      box-shadow: 0 0 8px 6px rgba(202, 245, 11, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
    }
  }