
@font-face {
    font-family: 'Fenix';
    font-style: normal;
    font-weight: 400;
    src: local('Fenix'), local('Fenix-Regular'),
         url('../fonts/fenix-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fenix-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
	/* milonga-regular - latin */
@font-face {
	  font-family: 'Milonga';
	  font-style: normal;
	  font-weight: 400;
	  src: url('../fonts/milonga-v7-latin-regular.eot'); /* IE9 Compat Modes */
	  src: local('Milonga'), local('Milonga-Regular'),
		   url('../fonts/milonga-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/milonga-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/milonga-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
		   url('../fonts/milonga-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		   url('../fonts/milonga-v7-latin-regular.svg#Milonga') format('svg'); /* Legacy iOS */
	}
html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    background: url("../images/floating-castle-ragnarok-online-anime-games-clouds-scenic-valley\ 1.png") no-repeat;
    background-size: cover;
    padding-top: 1%;
	background-position: center;
  }
  .wrapper{
width: 529px;
height: 90%;
background: rgba(4, 4, 4, 0.61);
border-radius: 40px;
margin: 0 auto;
}
.wrapper input[type="submit"]{
     margin-top: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
}
	.title h1 {
        text-align: center;
        color: #FFFF00;
        font-family: 'Milonga';
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 56px;
        padding: 35px 0 0 0;
    }

    .login-form {
        width: 442px;
        margin: 0 auto;
        padding-bottom: 245px;
    }

    .login-form h1 {
        text-align: center;
        color: #FFFFFF;
        font-family: Fenix;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 56px;
        padding: 0 0 10px 0;
    }
    .login-form input[type="password"],
    .login-form input[type="text"] {
        width: 100%;
        padding: 15px;
        background: #C4C4C4;
        margin-bottom: 15px;
        box-sizing:border-box;
        border-radius: 5px;
    }
    .login-form input[type="submit"] {
        width: 100%;
        padding: 15px;
        background-color: #FDE910;
        border: 1px solid #000000;
        box-sizing: border-box;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
    }
    .login-form label{
        color: #E2E2E2 ;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }